body {
    width: 480px;  
    background: black;
    margin: 0px auto;
}

main {
    /* float: left;
    text-align: center;
    vertical-align: middle; */
    display: flex;
    flex-wrap: row wrap;
    /* flex-direction: row; */
    justify-content: flex start;
}

div {
    text-align: center;
    vertical-align: middle;
    flex: 
}

