body {
    font-family: 'Oslwald', sans-serif;

}

.grid {
    width: 480px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.a {
    grid-column: 1/3;
}

.b {
    grid-column: 1/3;
}

.c {
    grid-column: 1/3;
}

.d {
    grid-column: 1/3;
}

.e {
    grid-column: 1/2;
}

.f {
    grid-column: 2/3;
}

.g {
    grid-column: 1/2;
}

.h {
    grid-column: 2/3;
}

.i {
    grid-column: 1/3;
}

