#a {
    width: 480px;
    height: 75px;
    background-color: #45425A;
    text-align: center;
    vertical-align: middle;
}

#b {
    width: 480px;
    height: 150px;
    background-color: #575C55;
    text-align: center;
}

#c {
    width: 480px;
    height: 125px;
    background-color: #6C7D47;
    text-align: center;
}

#d {
    width: 480px;
    height: 125px;
    background-color: #96A13A;
    text-align: center;
}

#e {
    width: 240px;
    height: 250px;
    background-color: #ACC12F;
    float: left;
    text-align: center;
}

#f {
    width: 240px;
    height: 250px;
    background-color: #39374A;
    float: left;
    text-align: center;
}

#g {
    width: 240px;
    height: 250px;
    background-color: #40433E;
    float: left;
    text-align: center;
}

#h {
    width: 240px;
    height: 250px;
    background-color: #3B4527;
    float: left;
    text-align: center;
}

#i {
    width: 480px;
    height: 80px;
    background-color: #6E762B;
    clear: both;
    text-align: center;
}