body {
    background: white;
    font-family: 'Oslwald', sans-serif;
    width: 480px;
}

#a {
    width: 480px;
    height: 75px;
    background-color: #45425A;
}

#b {
    width: 480px;
    height: 150px;
    background-color: #575C55;
}

#c {
    width: 480px;
    height: 125px;
    background-color: #6C7D47;
}

#d {
    width: 480px;
    height: 125px;
    background-color: #96A13A;
}

#e {
    width: 240px;
    height: 250px;
    background-color: #ACC12F;
    float: left;
}

#f {
    width: 240px;
    height: 250px;
    background-color: #39374A;
    float: left;
}

#g {
    width: 240px;
    height: 250px;
    background-color: #40433E;
    float: left;
}

#h {
    width: 240px;
    height: 250px;
    background-color: #3B4527;
    float: left;
}

#i {
    width: 480px;
    height: 80px;
    background-color: #6E762B;
    clear: both;
}

